<html lang="en">

<%- include('header'); %> 

<!-- inner title image section -->
  <div class="inner-title-image">
      <h3>About Us</h3>
  </div>
  <!-- end inner title image section -->
  
<!-- end header section -->

<main role="main" class="container">
    <!-- section about us -->
    <div id="inner-pages">
        <div class="text-pages-column-1">
            <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. 
           </h4>
           <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
               no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et 
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                 dolor sit amet. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
                 gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. At vero eos et accusam 
                 et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                  Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. 
               Lorem ipsum dolor sit amet.
           </p>
        </div>
        <div class="text-pages-column-2">
            <img src="images/about-image.png" alt="about image">
        </div>
        
    </div>


    <!-- end section about us -->
    
</main><!-- /.container -->


  <%- include('footer'); %> 
</html>




