<html lang="en">

<%- include('header'); %> 


<main role="main" class="container">
    <!-- section inner form pages -->
    <div id="inner-form-pages">
        <div class="form-pages-column-1">
            <h5>For further information or enquiries please <br>contact using our information below</h5>
            <br>
            <div class="contact-details">
                <address>
                    23 Old Adebayo Road,<br>
                    Ilupeju,<br>
                    Lagos, Nigeria <br>
                    
                </address>
                <p>
                    <i class="fa fa-phone"></i> 234 1234 568
                </p>
                <p>
                    <i class="fa fa-envelope"></i> <a href="mailto:admin@flowers4u.co.zm">admin@flowers4u.co.zm</a>
                </p> 
            </div>

        </div>
        <div class="form-pages-column-2">
        </div>
        
    </div>
    <!-- end inner form pages -->
    
</main><!-- /.container -->

  <%- include('footer'); %> 
</html>




